.CreateSecretMessage {
  font-size: 24px;

  color: #444444;
}

.CreateSecretForm {
  padding-top: 16px;
}

.SecretDisplay {
  font-size: 16px;
  width: fit-content;
}

.DisplayLinkText > div > div {
  background: white;
}
