/* There must be native way to do this in Material UI */
.CreateSecretTextField > div > div {
  background: white;
  min-height: 170px;
  max-height: 170px;
  overflow: auto;

  align-items: flex-start;
  margin-bottom: 40px;
}
